.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

/* ROOT */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins, sans-serif;
    -webkit-appearance: none;
}

body {
    background-image: url("images/bg-intro-desktop.png");
    background-color: hsl(0, 100%, 74%);
    padding: 3em 1em;
    color: white;
    font-size: 16px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    user-select: none;
    max-width: 1240px;
}

/* HERO */

.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
    flex-wrap: wrap;
    width: 1100px;
}

.col {
    width: 500px;
}

/* HEADER */

header {
    margin-bottom: 20px;
}

h1 {
    font-weight: 700;
    font-size: 2.5em;
    line-height: 1.25em;
    margin-bottom: 30px;
}

p {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.75em;
    color: rgba(255, 255, 255, 0.85);
}

/* MAIN */

.banner {
    text-align: center;
    display: flex;
    height: 55px;
    align-items: center;
    justify-content: center;
    background-color: hsl(248, 32%, 49%);
    border-radius: 10px;
    box-shadow: 0px 7px rgba(0, 0, 0, 0.2);
    margin-bottom: 25px;
}

.info {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    text-align: center;
}

.bold {
    font-weight: 700;
    color: #fff;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

form  * {
    border-radius: 5px;
    height: 50px;
}

input {
    width: 100%;
    border-style: none;
    outline: none;
}

input[type=text],
input[type=password],
input[type=email] {
    border: 1px solid hsl(246, 25%, 77%);
    margin: 10px 0;
    padding: 15px 20px;
    font-weight: 700;
    color: rgba(0, 0, 0, 0.7);
}

input[type=text]:focus,
input[type=password]:focus,
input[type=email]:focus {
    border: 1px solid hsl(249, 10%, 26%);
}

::placeholder {
    font-weight: 700;
    font-size: 1em;
    color: rgba(0, 0, 0, 0.5);
}

input[type=button] {
    background-color: hsl(154, 59%, 51%);
    color: rgba(255, 255, 255, 0.85);
    font-size: 0.85em;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.1em;
    box-shadow: 0px 5px hsla(154, 59%, 45%, 1);
    border-radius: 7px;
    margin: 10px 0;
}

small {
    font-size: 0.75em;
    color: hsl(246, 25%, 77%);
}

.danger {
    color: hsl(0, 100%, 74%);
    font-weight: 600;
}

/* MEDIA QUERIES */

@media only screen and (max-width: 900px) {
    
    /* ROOT */
    
    body {
        text-align: center;
    }

    /* HEADER */

    
    /* MAIN */

}
